@import "partials/*.styl"

global-reset()

body, html, main
	height 100%

body
	background #4c4c4c
	color white
	font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
h1, h2, h3, h4, h5, h6
	font-family "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
.opaque-container
	background transparentify(#4c4c4c, 0.2)
	position absolute
	top 0
	left 0
	width 100%
	height 100%
main
	background url(../img/background.jpg)
	background-size cover
strong
	font-weight bold
	font-size 1.2em
p
	line-height 1.6
	& + &
		margin-top 1em
.lead
	padding 15% 15% 0 15%
	&-cta
		&-container
			margin-top 1em
	&-text
		font-size 1.5em
	&-header
		&-heading
			font-weight 500
			font-size 4em
			margin 1em 0
			@media screen and (max-width: 55em)
				font-size 2.5em
.button
	font-family "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
	background #13181d
	// border 0.2em solid #13181d
	padding 0.4em 2em
	display inline-block
	font-size 0.8em
	font-weight 700
	text-transform uppercase
	letter-spacing 1pt
	border-radius 0
	text-align center
	transition background 0.3s ease
	margin-bottom 1.5em
	line-height 3
	text-decoration none
	color inherit
	white-space nowrap
	&:hover
		background white
		color #13181d

.logo
	position absolute
	right 1em
	height 4em